extend layout
block link
	link(rel="stylesheet", href="stylesheets/create-blog.css")
	link(href='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.1/css/froala_editor.pkgd.min.css', rel='stylesheet', type='text/css')
	script.jsbin(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	
block content
	.container.in
		h4.header-title Tạo blog mới
		form(action='/create-blog', method="POST", enctype="multipart/form-data").form
			.form-group.create-category
				label(for='category') Chủ đề
				select#category.form-control(name='category')
					option(value='recipe') Công thức
					option(value='tip') Mẹo
			.form-group.create-title
				label(for='title') Tiêu đề 
				input#title.form-control(type='text', name='title')
			.form-group
				label(for="image") Ảnh tiêu đề
				button.file-upload-btn(type='button', onclick="$('.file-upload-input').trigger( 'click' )") +
				.image-upload-wrap
					input.file-upload-input(type='file', onchange='readURL(this);', accept='image/*', name='image')
					.drag-text
						h3 Thêm ảnh
				.file-upload-content
					img.file-upload-image(src='#', alt='your image')
					.image-title-wrap
						button.remove-image(type='button', onclick='removeUpload()')
							| Xóa 
							span.image-title Đã tải ảnh lên
			.form-group.create-introduce
				label(for='content') Nội dung blog
				textarea#edit(name='content')
			.form-group.create-ingredients
				label(for='ingredients') Nguyên liệu
				ul#ingredients
					li.ingredient
						input.form-control(type='text', name='ingredients')
						h5.removeLi(onclick = 'removeLi(this)') x
				.add-ingredient + Thêm nguyên liệu
			.form-group.create-step
				label(for='step') Các bước
				ul#steps
					li.step
						input.form-control(type='text', name='steps')
						h5.removeLi(onclick = 'removeLi(this)') x
				.add-step + Thêm bước
			button.btn.btn-primary.submit(type='submit') Tạo

	script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.1/js/froala_editor.pkgd.min.js')
	script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/froala-editor@3.0.0-beta.1/js/languages/vi.js')
	script(src='javascripts/create-blog.js')